webclient/xml_generator/definitions/amcr_230522.xsd.xml

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:amcr="https://api.aiscr.cz/schema/amcr/2.0/" targetNamespace="https://api.aiscr.cz/schema/amcr/2.0/" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0.0">

  <xs:annotation>
    <xs:documentation>XML Schema for native export of the AMCR database (version 2.0.0). Related API: https://api.aiscr.cz/</xs:documentation>
  </xs:annotation>

  <!-- main-structure -->
  <xs:element name="amcr">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="projekt" type="amcr:projektType"/> <!-- "{Projekt}" -->
        <xs:element name="archeologicky_zaznam" type="amcr:archeologicky_zaznamType"/> <!-- "{ArcheologickyZaznam}" -->
        <xs:element name="let" type="amcr:letType"/> <!-- "{Let}" -->
        <xs:element name="adb" type="amcr:adbType"/> <!-- "{Adb}" -->
        <xs:element name="dokument" type="amcr:dokumentType"/> <!-- "{Dokument}" -->
        <xs:element name="ext_zdroj" type="amcr:ext_zdrojType"/> <!-- "{ExterniZdroj}" -->
        <xs:element name="pian" type="amcr:pianType"/> <!-- "{Pian}" -->
        <xs:element name="samostatny_nalez" type="amcr:samostatny_nalezType"/> <!-- "{SamostatnyNalez}" -->
        <xs:element name="uzivatel" type="amcr:uzivatelType"/> <!-- "{User}" -->
        <xs:element name="heslo" type="amcr:hesloType"/> <!-- "{Heslar}" -->
        <xs:element name="ruian_kraj" type="amcr:ruian_krajType"/> <!-- "{RuianKraj}" -->
        <xs:element name="ruian_okres" type="amcr:ruian_okresType"/> <!-- "{RuianOkres}" -->
        <xs:element name="ruian_katastr" type="amcr:ruian_katastrType"/> <!-- "{RuianKatastr}" -->
        <xs:element name="organizace" type="amcr:organizaceType"/> <!-- "{Organizace}" -->
        <xs:element name="osoba" type="amcr:osobaType"/> <!-- "{Osoba}" -->
      </xs:choice>
    </xs:complexType>
  </xs:element>
  
  <!-- main-classes -->
  <xs:complexType name="projektType">
    <xs:sequence>
      <xs:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{ident_cely}" -->
      <xs:element name="stav" minOccurs="1" maxOccurs="1" type="xs:integer"/> <!-- "{stav}" -->
      <xs:element name="typ_projektu" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{typ_projektu.ident_cely}" | "{typ_projektu.heslo}" -->
      <xs:element name="okres" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "ruian:{hlavni_katastr.okres.kod}" | "{hlavni_katastr.okres.nazev}" -->
      <xs:element name="podnet" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{podnet}" -->
      <xs:element name="planovane_zahajeni" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{planovane_zahajeni}" -->
      <xs:element name="vedouci_projektu" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{vedouci_projektu.ident_cely}" | "{vedouci_projektu.vypis_cely}" -->
      <xs:element name="organizace" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{organizace.ident_cely}" | "{organizace.nazev}" -->
      <xs:element name="uzivatelske_oznaceni" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{uzivatelske_oznaceni}" -->
      <xs:element name="oznaceni_stavby" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{oznaceni_stavby}" -->
      <xs:element name="kulturni_pamatka" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{kulturni_pamatka.ident_cely}" | "{kulturni_pamatka.heslo}" -->
      <xs:element name="datum_zahajeni" minOccurs="0" maxOccurs="1" type="xs:date"/> <!-- "{datum_zahajeni}" -->
      <xs:element name="datum_ukonceni" minOccurs="0" maxOccurs="1" type="xs:date"/> <!-- "{datum_ukonceni}" -->
      <xs:element name="termin_odevzdani_nz" minOccurs="0" maxOccurs="1" type="xs:date"/> <!-- "{termin_odevzdani_nz}" -->
      <xs:element name="pristupnost_pom" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- default: "HES-000865" | "anonym"; "{pristupnost_pom.ident_cely}" | "{pristupnost_pom.heslo}") -->
      <xs:element name="chranene_udaje" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="hlavni_katastr" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "ruian:{hlavni_katastr.kod}" | "{hlavni_katastr.nazev}" -->
            <xs:element name="dalsi_katastr" minOccurs="0" maxOccurs="unbounded" type="amcr:refType"/> <!-- "ruian:{katastry.kod}" | "{katastry.nazev}" -->
            <xs:element name="lokalizace" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{lokalizace}" -->
            <xs:element name="parcelni_cislo" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{parcelni_cislo}" -->
            <xs:element name="geom_gml" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:any namespace="http://www.opengis.net/gml/3.2" processContents="skip"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element> <!-- ST_AsGML("{geom}") -->
            <xs:element name="geom_wkt" minOccurs="0" maxOccurs="1" type="amcr:wktType"/> <!-- ST_SRID("{geom}") | ST_AsText("{geom}") -->
            <xs:element name="kulturni_pamatka_cislo" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{kulturni_pamatka_cislo}" -->
            <xs:element name="kulturni_pamatka_popis" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{kulturni_pamatka_popis}" -->
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="historie" minOccurs="0" maxOccurs="unbounded" type="amcr:historieType"/> <!-- "{historie.Historie}" -->
      <xs:element name="oznamovatel" minOccurs="0" maxOccurs="1">
      	<xs:complexType>          
          <xs:sequence>
            <xs:element name="oznamovatel" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{Oznamovatel.oznamovatel}" -->
            <xs:element name="odpovedna_osoba" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{Oznamovatel.odpovedna_osoba}" -->
            <xs:element name="adresa" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{Oznamovatel.adresa}" -->
            <xs:element name="telefon" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{Oznamovatel.telefon}" -->
            <xs:element name="email" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{Oznamovatel.email}" -->
          </xs:sequence>          
        </xs:complexType>
      </xs:element>
      <xs:element name="soubor" minOccurs="0" maxOccurs="unbounded" type="amcr:souborType"/>  <!-- soubory.Soubor -->
      <xs:element name="archeologicky_zaznam" minOccurs="0" maxOccurs="unbounded" type="amcr:refType"/> <!-- "{Akce.archeologicky_zaznam.ident_cely}" | "{Akce.archeologicky_zaznam.ident_cely}" -->
      <xs:element name="samostatny_nalez" minOccurs="0" maxOccurs="unbounded" type="amcr:refType"/> <!-- "{SamostatnyNalez.ident_cely}" | "{SamostatnyNalez.ident_cely}" -->
      <xs:element name="dokument" minOccurs="0" maxOccurs="unbounded" type="amcr:refType"/> <!-- "{DokumentCast.dokument.ident_cely}" | "{DokumentCast.dokument.ident_cely}" -->
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="archeologicky_zaznamType">
    <xs:sequence>
      <xs:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{ident_cely}" -->
      <xs:element name="stav" minOccurs="1" maxOccurs="1" type="xs:integer"/> <!-- "{stav}" -->
      <xs:element name="okres" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "ruian:{hlavni_katastr.okres.kod}" | "{hlavni_katastr.okres.nazev}" -->
      <xs:element name="pristupnost" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{pristupnost.ident_cely}" | "{pristupnost.heslo}" -->
      <xs:element name="chranene_udaje" minOccurs="0" maxOccurs="1"> 
        <xs:complexType>
          <xs:sequence>
            <xs:element name="hlavni_katastr" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "ruian:{hlavni_katastr.kod}" | "{hlavni_katastr.nazev}" -->
            <xs:element name="dalsi_katastr" minOccurs="0" maxOccurs="unbounded" type="amcr:refType"/> <!-- "ruian:{katastry.kod}" | "{katastry.nazev}" -->
            <xs:element name="uzivatelske_oznaceni" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{uzivatelske_oznaceni}" -->
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="akce" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="projekt" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{Akce.projekt.ident_cely}" | "{Akce.projekt.ident_cely}" -->
            <xs:element name="typ" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{Akce.typ}" -->
            <xs:element name="je_nz" minOccurs="1" maxOccurs="1" type="xs:boolean"/> <!-- "{Akce.je_nz}" -->
            <xs:element name="odlozena_nz" minOccurs="1" maxOccurs="1" type="xs:boolean"/> <!-- "{Akce.odlozena_nz}" -->
            <xs:element name="hlavni_vedouci" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{Akce.hlavni_vedouci.ident_cely}" | "{Akce.hlavni_vedouci.vypis_cely}" -->
            <xs:element name="organizace" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{Akce.organizace.ident_cely}" | "{Akce.organizace.nazev}" -->
            <xs:element name="vedouci_akce_ostatni" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
          		  <xs:sequence>
          		    <xs:element name="id" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "vedo:{Akce.AkceVedouci.id}" -->
          		    <xs:element name="vedouci" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{Akce.AkceVedouci.vedouci.ident_cely}" | "{Akce.AkceVedouci.vedouci.vypis_cely}" -->
          		    <xs:element name="organizace" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{Akce.AkceVedouci.organizace.ident_cely}" | "{Akce.AkceVedouci.organizace.nazev}" -->
          		  </xs:sequence>
          	  </xs:complexType>
        	  </xs:element>
        	  <xs:element name="specifikace_data" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{Akce.specifikace_data.ident_cely}" | "{Akce.specifikace_data.heslo}" -->
        	  <xs:element name="datum_zahajeni" minOccurs="0" maxOccurs="1" type="xs:date"/> <!-- "{Akce.datum_zahajeni}" -->
        	  <xs:element name="datum_ukonceni" minOccurs="0" maxOccurs="1" type="xs:date"/> <!-- "{Akce.datum_ukonceni}" -->
        	  <xs:element name="hlavni_typ" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{Akce.hlavni_typ.ident_cely}" | "{Akce.hlavni_typ.heslo}" -->
        	  <xs:element name="vedlejsi_typ" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{Akce.vedlejsi_typ.ident_cely}" | "{Akce.vedlejsi_typ.heslo}" -->
        	  <xs:element name="ulozeni_nalezu" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{Akce.ulozeni_nalezu}" -->
        	  <xs:element name="ulozeni_dokumentace" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{Akce.ulozeni_dokumentace}" -->
        	  <xs:element name="chranene_udaje" minOccurs="0" maxOccurs="1">
        	  <xs:complexType>
        	    <xs:sequence>
        	      <xs:element name="lokalizace_okolnosti" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{Akce.lokalizace_okolnosti}" -->
        	      <xs:element name="souhrn_upresneni" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{Akce.souhrn_upresneni}" -->
        	    </xs:sequence>
        	  </xs:complexType>
        	</xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="lokalita" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
          	<xs:element name="typ_lokality" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{Lokalita.typ_lokality.ident_cely}" | "{Lokalita.typ_lokality.heslo}" -->
          	<xs:element name="druh" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{Lokalita.druh.ident_cely}" | "{Lokalita.druh.heslo}" -->
          	<xs:element name="zachovalost" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{Lokalita.zachovalost.ident_cely}" | "{Lokalita.zachovalost.heslo}" -->
          	<xs:element name="jistota" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{Lokalita.jistota.ident_cely}" | "{Lokalita.jistota.heslo}" -->
          	<xs:element name="chranene_udaje" minOccurs="0" maxOccurs="1">
        	  <xs:complexType>
        	    <xs:sequence>
        	      <xs:element name="nazev" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{Lokalita.nazev}" -->
        	      <xs:element name="popis" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{Lokalita.popis}" -->
        	      <xs:element name="poznamka" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{Lokalita.poznamka}" -->
        	    </xs:sequence>
        	  </xs:complexType>
        	</xs:element>        	
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="historie" minOccurs="0" maxOccurs="unbounded" type="amcr:historieType"/> <!-- "{historie.Historie}" -->
      <xs:element name="dokumentacni_jednotka" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
          	<xs:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{DokumentacniJednotka.ident_cely}" -->
          	<xs:element name="pian" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{DokumentacniJednotka.pian.ident_cely}" | "{DokumentacniJednotka.pian.ident_cely}" -->
          	<xs:element name="typ" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{DokumentacniJednotka.typ.ident_cely}" | "{DokumentacniJednotka.typ.heslo}" -->
          	<xs:element name="negativni_jednotka" minOccurs="1" maxOccurs="1" type="xs:boolean"/> <!-- "{DokumentacniJednotka.negativni_jednotka}" -->
          	<xs:element name="nazev" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{DokumentacniJednotka.nazev}" -->
          	<xs:element name="adb" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{DokumentacniJednotka.Adb.ident_cely}" | "{DokumentacniJednotka.Adb.ident_cely}" -->
          	<xs:element name="komponenta" minOccurs="0" maxOccurs="unbounded" type="amcr:komponentaType"/> <!-- "{DokumentacniJednotka.komponenty.Komponenta}" -->         	
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ext_odkaz" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
   	      <xs:sequence>      	
   	        <xs:element name="id" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "exto:{ExterniOdkaz.id}" -->
   	        <xs:element name="ext_zdroj" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{ExterniOdkaz.externi_zdroj.ident_cely}" | "{ExterniOdkaz.externi_zdroj.ident_cely}" -->
   	        <xs:element name="paginace" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{ExterniOdkaz.paginace}" -->
   	      </xs:sequence>     
        </xs:complexType>
      </xs:element>
  	  <xs:element name="dokument" minOccurs="0" maxOccurs="unbounded" type="amcr:refType"/> <!-- "{DokumentCast.dokument.ident_cely}" | "{DokumentCast.dokument.ident_cely}" -->
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="letType">
    <xs:sequence>
      <xs:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{ident_cely}" -->
      <xs:element name="datum" minOccurs="0" maxOccurs="1" type="xs:date"/> <!-- "{datum}" -->
      <xs:element name="hodina_zacatek" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{hodina_zacatek}" -->
      <xs:element name="hodina_konec" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{hodina_konec}" -->
      <xs:element name="pozorovatel" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{pozorovatel.ident_cely}" | "{pozorovatel.vypis_cely}" -->
      <xs:element name="organizace" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{organizace.ident_cely}" | "{organizace.nazev}" -->
      <xs:element name="fotoaparat" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{fotoaparat}" -->
      <xs:element name="pilot" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{pilot}" -->
      <xs:element name="typ_letounu" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{typ_letounu}" -->
      <xs:element name="ucel_letu" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{ucel_letu}" -->
      <xs:element name="letiste_start" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{letiste_start.ident_cely}" | "{letiste_start.heslo}" -->
      <xs:element name="letiste_cil" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{letiste_cil.ident_cely}" | "{letiste_cil.heslo}" -->
      <xs:element name="pocasi" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{pocasi.ident_cely}" | "{pocasi.heslo}" -->
      <xs:element name="dohlednost" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{dohlednost.ident_cely}" | "{dohlednost.heslo}" -->
      <xs:element name="uzivatelske_oznaceni" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{uzivatelske_oznaceni}" -->
      <xs:element name="dokument" minOccurs="0" maxOccurs="unbounded" type="amcr:refType"/> <!-- "{Dokument.ident_cely}" | "{Dokument.ident_cely}" -->
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="adbType">
    <xs:sequence>
      <xs:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{ident_cely}" -->
      <xs:element name="dokumentacni_jednotka" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{dokumentacni_jednotka.archeologicky_zaznam.ident_cely}" | "{dokumentacni_jednotka.ident_cely}" -->
      <xs:element name="stav_pom" minOccurs="1" maxOccurs="1" type="xs:integer"/> <!-- "{dokumentacni_jednotka.archeologicky_zaznam.stav}" -->
      <xs:element name="typ_sondy" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{typ_sondy.ident_cely}" | "{typ_sondy.heslo}" -->
      <xs:element name="podnet" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{podnet.ident_cely}" | "{podnet.heslo}" -->
      <xs:element name="stratigraficke_jednotky" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{stratigraficke_jednotky}" -->
      <xs:element name="autor_popisu" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{autor_popisu.ident_cely}" | "{autor_popisu.vypis_cely}" -->
      <xs:element name="rok_popisu" minOccurs="1" maxOccurs="1" type="xs:integer"/> <!-- "{rok_popisu}" -->
      <xs:element name="autor_revize" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{autor_revize.ident_cely}" | "{autor_revize.vypis_cely}" -->
      <xs:element name="rok_revize" minOccurs="0" maxOccurs="1" type="xs:integer"/> <!-- "{rok_revize}" -->
      <xs:element name="sm5" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{sm5.mapno}" -->
      <xs:element name="pristupnost_pom" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{dokumentacni_jednotka.archeologicky_zaznam.pristupnost.ident_cely}" | "{dokumentacni_jednotka.archeologicky_zaznam.pristupnost.heslo}" -->
      <xs:element name="chranene_udaje" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="uzivatelske_oznaceni_sondy" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{uzivatelske_oznaceni_sondy}" -->
          	<xs:element name="trat" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{trat}" -->
            <xs:element name="cislo_popisne" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{cislo_popisne}" -->
            <xs:element name="parcelni_cislo" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{parcelni_cislo}" -->
            <xs:element name="poznamka" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{poznamka}" -->
            <xs:element name="vyskovy_bod" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{VyskovyBod.ident_cely}" -->
                  <xs:element name="typ" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{VyskovyBod.typ.ident_cely}" | "{VyskovyBod.typ.heslo}" -->
                  <xs:element name="geom_gml" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:any namespace="http://www.opengis.net/gml/3.2" processContents="skip"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element> <!-- ST_AsGML("{VyskovyBod.geom}") -->
                  <xs:element name="geom_wkt" minOccurs="1" maxOccurs="1" type="amcr:wktType"/> <!-- ST_SRID("{VyskovyBod.geom}") | ST_AsText("{VyskovyBod.geom}") -->
                </xs:sequence>
              </xs:complexType>
            </xs:element>            
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dokumentType">
    <xs:sequence>
      <xs:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{ident_cely}" -->
      <xs:element name="let" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{let.ident_cely}" | "{let.ident_cely}" -->
      <xs:element name="stav" minOccurs="1" maxOccurs="1" type="xs:integer"/> <!-- "{stav}" -->
      <xs:element name="typ_dokumentu" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{typ_dokumentu.ident_cely}" | "{typ_dokumentu.heslo}" -->
      <xs:element name="material_originalu" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{material_originalu.ident_cely}" | "{material_originalu.heslo}" -->
      <xs:element name="rada" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{rada.ident_cely}" | "{rada.heslo}" -->
      <xs:element name="posudek" minOccurs="0" maxOccurs="unbounded" type="amcr:refType"/> <!-- "{posudky.ident_cely}" | "{posudky.heslo}" -->
      <xs:element name="autor" minOccurs="0" maxOccurs="unbounded" type="amcr:autorType"/> <!-- "{autori.ident_cely}" | "{DokumentAutor.poradi}" | "{autori.vypis_cely}" -->
      <xs:element name="rok_vzniku" minOccurs="0" maxOccurs="1" type="xs:integer"/> <!-- "{rok_vzniku}" -->
      <xs:element name="organizace" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{organizace.ident_cely}" | "{organizace.nazev}" -->
      <xs:element name="pristupnost" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{pristupnost.ident_cely}" | "{pristupnost.heslo}" -->
      <xs:element name="datum_zverejneni" minOccurs="0" maxOccurs="1" type="xs:date"/> <!-- "{datum_zverejneni}" -->
      <xs:element name="jazyk_dokumentu" minOccurs="0" maxOccurs="unbounded" type="amcr:refType"/> <!-- "{jazyky.ident_cely}" | "{jazyky.heslo}" -->
      <xs:element name="ulozeni_originalu" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{ulozeni_originalu.ident_cely}" | "{ulozeni_originalu.heslo}" -->
      <xs:element name="oznaceni_originalu" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{oznaceni_originalu}" -->
      <xs:element name="popis" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{popis}" -->
      <xs:element name="poznamka" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{poznamka}" -->
      <xs:element name="licence" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{licence}" -->
      <xs:element name="osoba" minOccurs="0" maxOccurs="unbounded" type="amcr:refType"/> <!-- "{osoby.ident_cely}" | "{osoby.vypis_cely}" -->
      <xs:element name="historie" minOccurs="0" maxOccurs="unbounded" type="amcr:historieType"/> <!-- "{historie.Historie}" -->
      <xs:element name="soubor" minOccurs="0" maxOccurs="unbounded" type="amcr:souborType"/>  <!-- "{soubory.Soubor}" -->
      <xs:element name="extra_data" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="cislo_objektu" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{DokumentExtraData.cislo_objektu}" -->
            <xs:element name="format" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{DokumentExtraData.format.ident_cely}" | "{DokumentExtraData.format.heslo}" -->
            <xs:element name="meritko" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{DokumentExtraData.meritko}" -->
            <xs:element name="vyska" minOccurs="0" maxOccurs="1" type="xs:integer"/> <!-- "{DokumentExtraData.vyska}" -->
            <xs:element name="sirka" minOccurs="0" maxOccurs="1" type="xs:integer"/> <!-- "{DokumentExtraData.sirka}" -->
            <xs:element name="zachovalost" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{DokumentExtraData.zachovalost.ident_cely}" | "{DokumentExtraData.zachovalost.heslo}" -->
            <xs:element name="nahrada" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{DokumentExtraData.nahrada.ident_cely}" | "{DokumentExtraData.nahrada.heslo}" -->
            <xs:element name="pocet_variant_originalu" minOccurs="0" maxOccurs="1" type="xs:integer"/> <!-- "{DokumentExtraData.pocet_variant_originalu}" -->
            <xs:element name="odkaz" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{DokumentExtraData.odkaz}" -->
            <xs:element name="datum_vzniku" minOccurs="0" maxOccurs="1" type="xs:date"/> <!-- "{DokumentExtraData.datum_vzniku}" -->
            <xs:element name="udalost_typ" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{DokumentExtraData.udalost_typ.ident_cely}" | "{DokumentExtraData.udalost_typ.heslo}" -->
            <xs:element name="udalost" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{DokumentExtraData.udalost}" -->
            <xs:element name="zeme" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{DokumentExtraData.zeme.ident_cely}" | "{DokumentExtraData.zeme.heslo}" -->
            <xs:element name="region" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{DokumentExtraData.region}" -->
            <xs:element name="rok_od" minOccurs="0" maxOccurs="1" type="xs:integer"/> <!-- "{DokumentExtraData.rok_od}" -->
            <xs:element name="rok_do" minOccurs="0" maxOccurs="1" type="xs:integer"/> <!-- "{DokumentExtraData.rok_do}" -->
            <xs:element name="duveryhodnost" minOccurs="0" maxOccurs="1" type="xs:integer"/> <!-- "{DokumentExtraData.duveryhodnost}" -->
            <xs:element name="geom_gml" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:any namespace="http://www.opengis.net/gml/3.2" processContents="skip"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element> <!-- ST_AsGML("{DokumentExtraData.geom}") -->
            <xs:element name="geom_wkt" minOccurs="0" maxOccurs="1" type="amcr:wktType"/> <!-- ST_SRID("{DokumentExtraData.geom}") | ST_AsText("{DokumentExtraData.geom}") -->
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tvar" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "tvar:{Tvar.id}" -->
            <xs:element name="tvar" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{Tvar.tvar.ident_cely}" | "{Tvar.tvar.heslo}" -->
            <xs:element name="poznamka" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{Tvar.poznamka}" -->
          </xs:sequence>
        </xs:complexType>
      </xs:element>  
      <xs:element name="dokument_cast" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{DokumentCast.ident_cely}" -->
            <xs:element name="archeologicky_zaznam" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{DokumentCast.archeologicky_zaznam.ident_cely}" | "{DokumentCast.archeologicky_zaznam.ident_cely}" -->
            <xs:element name="projekt" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{DokumentCast.projekt.ident_cely}" | "{DokumentCast.projekt.ident_cely}" -->
            <xs:element name="poznamka" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{DokumentCast.poznamka}" -->
            <xs:element name="komponenta" minOccurs="0" maxOccurs="unbounded" type="amcr:komponentaType"/> <!-- "{DokumentCast.komponenty.Komponenta}" -->
            <xs:element name="neident_akce" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="okres" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "ruian:{DokumentCast.NeidentAkce.katastr.okres.kod}" | "{DokumentCast.NeidentAkce.katastr.okres.nazev}" -->
                  <xs:element name="katastr" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "ruian:{DokumentCast.NeidentAkce.katastr.kod}" | "{DokumentCast.NeidentAkce.katastr.nazev}" -->
                  <xs:element name="vedouci" minOccurs="0" maxOccurs="unbounded" type="amcr:refType"/> <!-- "{DokumentCast.NeidentAkce.vedouci.ident_cely}" | "{DokumentCast.NeidentAkce.vedouci.vypis_cely}" -->
                  <xs:element name="rok_zahajeni" minOccurs="0" maxOccurs="1" type="xs:integer"/> <!-- "{DokumentCast.NeidentAkce.rok_zahajeni}" -->
                  <xs:element name="rok_ukonceni" minOccurs="0" maxOccurs="1" type="xs:integer"/> <!-- "{DokumentCast.NeidentAkce.rok_ukonceni}" -->
                  <xs:element name="lokalizace" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{DokumentCast.NeidentAkce.lokalizace}" -->
                  <xs:element name="popis" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{DokumentCast.NeidentAkce.popis}" -->
                  <xs:element name="poznamka" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{DokumentCast.NeidentAkce.poznamka}" -->
                  <xs:element name="pian" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{DokumentCast.NeidentAkce.pian}" -->
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ext_zdrojType">
    <xs:sequence>
      <xs:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{ident_cely}" -->
      <xs:element name="stav" minOccurs="1" maxOccurs="1" type="xs:integer"/> <!-- "{stav}" -->
      <xs:element name="typ" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{typ.ident_cely}" | "{typ.heslo}" -->
      <xs:element name="sysno" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{sysno}" -->
      <xs:element name="autor" minOccurs="0" maxOccurs="unbounded" type="amcr:autorType"/> <!-- "{autori.ident_cely}" | "{ExterniZdrojAutor.poradi}" | "{autori.vypis_cely}" -->
      <xs:element name="nazev" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{nazev}" -->
      <xs:element name="edice_rada" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{edice_rada}" -->
      <xs:element name="rok_vydani_vzniku" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{rok_vydani_vzniku}" -->
      <xs:element name="isbn" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{isbn}" -->
      <xs:element name="issn" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{issn}" -->
      <xs:element name="vydavatel" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{vydavatel}" -->
      <xs:element name="editor" minOccurs="0" maxOccurs="unbounded" type="amcr:autorType"/> <!-- "{editori.ident_cely}" | "{ExterniZdrojEditor.poradi}" | "{editori.vypis_cely}" -->
      <xs:element name="sbornik_nazev" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{sbornik_nazev}" -->
      <xs:element name="misto" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{misto}" -->
      <xs:element name="casopis_denik_nazev" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{casopis_denik_nazev}" -->
      <xs:element name="casopis_rocnik" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{casopis_rocnik}" -->
      <xs:element name="datum_rd" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{datum_rd}" -->
      <xs:element name="paginace_titulu" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{paginace_titulu}" -->
      <xs:element name="link" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{link}" -->
      <xs:element name="typ_dokumentu" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{typ_dokumentu.ident_cely}" | "{typ_dokumentu.heslo}" -->
      <xs:element name="organizace" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{organizace.ident_cely}" | "{organizace.nazev}" -->
      <xs:element name="poznamka" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{poznamka}" -->
      <xs:element name="historie" minOccurs="0" maxOccurs="unbounded" type="amcr:historieType"/> <!-- "{historie.Historie}" -->
      <xs:element name="ext_odkaz" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
   	      <xs:sequence>      	
   	        <xs:element name="id" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "exto:{ExterniOdkaz.id}" -->
   	        <xs:element name="archeologicky_zaznam" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{ExterniOdkaz.archeologicky_zaznam.ident_cely}" | "{ExterniOdkaz.archeologicky_zaznam.ident_cely}" -->
   	        <xs:element name="paginace" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{ExterniOdkaz.paginace}" -->
   	      </xs:sequence>     
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pianType">
    <xs:sequence>
      <xs:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{ident_cely}" -->
      <xs:element name="stav" minOccurs="1" maxOccurs="1" type="xs:integer"/> <!-- "{stav}" -->
      <xs:element name="typ" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{typ.ident_cely}" | "{typ.heslo}" -->
      <xs:element name="presnost" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{presnost.ident_cely}" | "{presnost.heslo}" -->
      <xs:element name="geom_system" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{geom_system}" -->
      <xs:element name="geom_updated_at" minOccurs="0" maxOccurs="1" type="xs:dateTime"/> <!-- "{geom_updated_at}" -->
      <xs:element name="geom_sjtsk_updated_at" minOccurs="0" maxOccurs="1" type="xs:dateTime"/> <!-- "{geom_sjtsk_updated_at}" -->
      <xs:element name="pristupnost_pom" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- default: "HES-000865" | "anonym"; "{pristupnost_pom.ident_cely}" | "{pristupnost_pom.heslo}") -->
      <xs:element name="chranene_udaje" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="zm10" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{zm10.cislo}" -->
          	<xs:element name="geom_gml" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:any namespace="http://www.opengis.net/gml/3.2" processContents="skip"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element> <!-- ST_AsGML("{geom}") -->
            <xs:element name="geom_wkt" minOccurs="1" maxOccurs="1" type="amcr:wktType"/> <!-- ST_SRID("{geom}") | ST_AsText("{geom}") -->
            <xs:element name="geom_sjtsk_gml" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:any namespace="http://www.opengis.net/gml/3.2" processContents="skip"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element> <!-- ST_AsGML("{geom_sjtsk}") -->
            <xs:element name="geom_sjtsk_wkt" minOccurs="0" maxOccurs="1" type="amcr:wktType"/> <!-- ST_SRID("{geom_sjtsk}") | ST_AsText("{geom_sjtsk}") -->
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="historie" minOccurs="0" maxOccurs="unbounded" type="amcr:historieType"/> <!-- "{historie.Historie}" -->
      <xs:element name="dokumentacni_jednotka" minOccurs="0" maxOccurs="unbounded" type="amcr:refType"/> <!-- "{DokumentacniJednotka.archeologicky_zaznam.ident_cely}" | "{DokumentacniJednotka.ident_cely}" -->
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="samostatny_nalezType">
    <xs:sequence>
      <xs:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{ident_cely}" -->
      <xs:element name="evidencni_cislo" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{evidencni_cislo}" -->
      <xs:element name="projekt" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{projekt.ident_cely}" | "{projekt.ident_cely}" -->
      <xs:element name="okres" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "ruian:{katastr.okres.kod}" | "{katastr.okres.nazev}" -->
      <xs:element name="hloubka" minOccurs="0" maxOccurs="1" type="xs:integer"/> <!-- "{hloubka}" -->
      <xs:element name="okolnosti" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{okolnosti.ident_cely}" | "{okolnosti.heslo}" -->
      <xs:element name="obdobi" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{obdobi.ident_cely}" | "{obdobi.heslo}" -->
      <xs:element name="presna_datace" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{presna_datace}" -->
      <xs:element name="druh_nalezu" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{druh_nalezu.ident_cely}" | "{druh_nalezu.heslo}" -->
      <xs:element name="specifikace" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{specifikace.ident_cely}" | "{specifikace.heslo}" -->
      <xs:element name="pocet" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{pocet}" -->
      <xs:element name="poznamka" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{poznamka}" -->
      <xs:element name="nalezce" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{nalezce.ident_cely}" | "{nalezce.vypis_cely}" -->
      <xs:element name="datum_nalezu" minOccurs="0" maxOccurs="1" type="xs:date"/> <!-- "{datum_nalezu}" -->
      <xs:element name="stav" minOccurs="1" maxOccurs="1" type="xs:integer"/> <!-- "{stav}" -->
      <xs:element name="predano" minOccurs="0" maxOccurs="1" type="xs:boolean"/> <!-- "{predano}" -->
      <xs:element name="predano_organizace" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{predano_organizace.ident_cely}" | "{predano_organizace.nazev}" -->
      <xs:element name="geom_system" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{geom_system}" -->
      <xs:element name="geom_updated_at" minOccurs="0" maxOccurs="1" type="xs:dateTime"/> <!-- "{geom_updated_at}" -->
      <xs:element name="geom_sjtsk_updated_at" minOccurs="0" maxOccurs="1" type="xs:dateTime"/> <!-- "{geom_sjtsk_updated_at}" -->
      <xs:element name="pristupnost" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{pristupnost.ident_cely}" | "{pristupnost.heslo}" -->
      <xs:element name="chranene_udaje" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
          	<xs:element name="katastr" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "ruian:{katastr.kod}" | "{katastr.nazev}" -->
          	<xs:element name="lokalizace" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{lokalizace}" -->        	
          	<xs:element name="geom_gml" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:any namespace="http://www.opengis.net/gml/3.2" processContents="skip"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element> <!-- ST_AsGML("{geom}") -->
            <xs:element name="geom_wkt" minOccurs="0" maxOccurs="1" type="amcr:wktType"/> <!-- ST_SRID("{geom}") | ST_AsText("{geom}") -->
            <xs:element name="geom_sjtsk_gml" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:any namespace="http://www.opengis.net/gml/3.2" processContents="skip"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element> <!-- ST_AsGML("{geom_sjtsk}") -->
            <xs:element name="geom_sjtsk_wkt" minOccurs="0" maxOccurs="1" type="amcr:wktType"/> <!-- ST_SRID("{geom_sjtsk}") | ST_AsText("{geom_sjtsk}") -->
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="historie" minOccurs="0" maxOccurs="unbounded" type="amcr:historieType"/> <!-- "{historie.Historie}" -->  
      <xs:element name="soubor" minOccurs="0" maxOccurs="unbounded" type="amcr:souborType"/>  <!-- "{soubory.Soubor}" -->
    </xs:sequence>
  </xs:complexType>

  <!-- vocabulary-classes -->
  <xs:complexType name="uzivatelType">
    <xs:sequence>
      <xs:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{ident_cely}" -->
      <xs:element name="jmeno" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{first_name}" -->
      <xs:element name="prijmeni" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{last_name}" -->
      <xs:element name="email" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{email}" -->
      <xs:element name="osoba" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{osoba.ident_cely}" | "{osoba.vypis_cely}" -->
      <xs:element name="organizace" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{organizace.ident_cely}" | "{organizace.nazev}" -->
      <xs:element name="jazyk" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{jazyk}" -->
      <xs:element name="telefon" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{telefon}" -->
      <xs:element name="aktivni" minOccurs="1" maxOccurs="1" type="xs:boolean"/> <!-- "{is_active}" -->
      <xs:element name="admin" minOccurs="1" maxOccurs="1" type="xs:boolean"/> <!-- "{is_staff}" -->
      <xs:element name="superadmin" minOccurs="1" maxOccurs="1" type="xs:boolean"/> <!-- "{is_superuser}" -->   
      <xs:element name="skupina" minOccurs="1" maxOccurs="unbounded" type="xs:string"/> <!-- TODO - nevím, jak to správně zapsat; "{groups.name}" -->
      <xs:element name="notifikace" minOccurs="0" maxOccurs="unbounded" type="xs:string"/> <!-- "{notification_types.ident_cely}" -->
      <xs:element name="hlidaci_pes" minOccurs="0" maxOccurs="unbounded" type="xs:string"/> <!-- TODO - nevím, jak to správně zapsat; "{Pes.xxx}" -->
      <xs:element name="datum_registrace" minOccurs="1" maxOccurs="1" type="xs:dateTime"/> <!-- "{date_joined}" -->
      <xs:element name="datum_prihlaseni" minOccurs="0" maxOccurs="1" type="xs:dateTime"/> <!-- "{last_login}" -->
      <xs:element name="historie" minOccurs="0" maxOccurs="unbounded" type="amcr:historieType"/> <!-- "{historie.Historie}" -->
      <xs:element name="spoluprace_nadrizeni" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
      	  <xs:sequence>
      	  	<xs:element name="id" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "spol:{UzivatelSpoluprace.id}" -->
      	    <xs:element name="vedouci" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{UzivatelSpoluprace.vedouci.ident_cely}" | "{UzivatelSpoluprace.vedouci.ident_cely}" -->
      	    <xs:element name="stav" minOccurs="1" maxOccurs="1" type="xs:integer"/> <!-- "{UzivatelSpoluprace.stav}" -->
      	    <xs:element name="historie" minOccurs="0" maxOccurs="unbounded" type="amcr:historieType"/> <!-- "{UzivatelSpoluprace.historie.Historie}" -->
      	  </xs:sequence>
        </xs:complexType>
      </xs:element> <!-- filter: "{UzivatelSpoluprace.spolupracovnik}" -->
      <xs:element name="spoluprace_podrizeni" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
      	  <xs:sequence>
      	  	<xs:element name="id" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "spol:{UzivatelSpoluprace.id}" -->
      	    <xs:element name="spolupracovnik" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{UzivatelSpoluprace.spolupracovnik.ident_cely}" | "{UzivatelSpoluprace.spolupracovnik.ident_cely}" -->
      	    <xs:element name="stav" minOccurs="1" maxOccurs="1" type="xs:integer"/> <!-- "{UzivatelSpoluprace.stav}" -->
      	    <xs:element name="historie" minOccurs="0" maxOccurs="unbounded" type="amcr:historieType"/> <!-- "{UzivatelSpoluprace.historie.Historie}" -->
      	  </xs:sequence>
        </xs:complexType>
      </xs:element> <!-- filter: "{UzivatelSpoluprace.vedouci}" -->
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hesloType">
    <xs:sequence>
      <xs:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{ident_cely}" -->
      <xs:element name="nazev_heslare" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{nazev_heslare.nazev}" -->
      <xs:element name="heslo" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{heslo}" -->
      <xs:element name="heslo_en" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{heslo_en}" -->
      <xs:element name="popis" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{popis}" -->
      <xs:element name="popis_en" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{popis_en}" -->
      <xs:element name="zkratka" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{zkratka}" -->
      <xs:element name="zkratka_en" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{zkratka_en}" -->
      <xs:element name="razeni" minOccurs="0" maxOccurs="1" type="xs:integer"/> <!-- "{razeni}" -->
      <xs:element name="hierarchie_vyse" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
          	<xs:element name="id" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "hier:{HeslarHierarchie.id}" -->
          	<xs:element name="heslo_nadrazene" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{HeslarHierarchie.heslo_nadrazene.ident_cely}" | "{HeslarHierarchie.heslo_nadrazene.heslo}" -->
          	<xs:element name="typ" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{HeslarHierarchie.typ}" -->      
          </xs:sequence>
        </xs:complexType>
      </xs:element> <!-- filter: "{HeslarHierarchie.heslo_podrazene}" -->
      <xs:element name="hierarchie_nize" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
          	<xs:element name="id" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "hier:{HeslarHierarchie.id}" -->
          	<xs:element name="heslo_podrazene" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{HeslarHierarchie.heslo_podrazene.ident_cely}" | "{HeslarHierarchie.heslo_podrazene.heslo}" -->
          	<xs:element name="typ" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{HeslarHierarchie.typ}" -->         
          </xs:sequence>
        </xs:complexType>
      </xs:element> <!-- filter: "{HeslarHierarchie.heslo_nadrazene}" -->        
      <xs:element name="dokument_typ_material_rada" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
          	<xs:element name="id" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "hdtm:{HeslarDokumentTypMaterialRada.id}" -->
          	<xs:element name="dokument_typ" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{HeslarDokumentTypMaterialRada.dokument_typ.ident_cely}" | "{HeslarDokumentTypMaterialRada.dokument_typ.heslar.heslo}" -->
          	<xs:element name="dokument_material" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{HeslarDokumentTypMaterialRada.dokument_material.ident_cely}" | "{HeslarDokumentTypMaterialRada.dokument_material.heslo}" -->        
          </xs:sequence>
        </xs:complexType>
      </xs:element> <!-- filter: "{HeslarDokumentTypMaterialRada.dokument_rada}" -->
      <xs:element name="datace" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
          	<xs:element name="rok_od_min" minOccurs="1" maxOccurs="1" type="xs:integer"/> <!-- "{heslar_datace.rok_od_min}" -->
          	<xs:element name="rok_od_max" minOccurs="1" maxOccurs="1" type="xs:integer"/> <!-- "{heslar_datace.rok_od_max}" -->
          	<xs:element name="rok_do_min" minOccurs="1" maxOccurs="1" type="xs:integer"/> <!-- "{heslar_datace.rok_do_min}" -->
          	<xs:element name="rok_do_max" minOccurs="1" maxOccurs="1" type="xs:integer"/> <!-- "{heslar_datace.rok_do_max}" -->
          	<xs:element name="poznamka" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{heslar_datace.poznamka}" -->          	         
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="odkaz" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
          	<xs:element name="id" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "hodk:{HeslarOdkaz.id}" -->
          	<xs:element name="zdroj" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{HeslarOdkaz.zdroj}" -->
          	<xs:element name="nazev_kodu" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{HeslarOdkaz.nazev_kodu}" -->
          	<xs:element name="kod" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{HeslarOdkaz.kod}" -->
          	<xs:element name="uri" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{HeslarOdkaz.uri}" -->          	         
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ruian_krajType">
    <xs:sequence>
      <xs:element name="kod" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "ruian:{kod}" -->
      <xs:element name="nazev" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{nazev}" -->
      <xs:element name="nazev_en" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{nazev_en}" -->
      <xs:element name="rada_id" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{rada_id}" -->
      <xs:element name="definicni_bod_gml" minOccurs="1" maxOccurs="1">
        <xs:complexType>
		      <xs:sequence>
			      <xs:any namespace="http://www.opengis.net/gml/3.2" processContents="skip"/>
		      </xs:sequence>
        </xs:complexType>
      </xs:element> <!-- ST_AsGML("{definicni_bod}") -->
      <xs:element name="definicni_bod_wkt" minOccurs="1" maxOccurs="1" type="amcr:wktType"/> <!-- ST_SRID("{definicni_bod}") | ST_AsText("{definicni_bod}") -->
      <xs:element name="hranice_gml" minOccurs="1" maxOccurs="1">
        <xs:complexType>
		      <xs:sequence>
			      <xs:any namespace="http://www.opengis.net/gml/3.2" processContents="skip"/>
		      </xs:sequence>
        </xs:complexType>
      </xs:element> <!-- ST_AsGML("{hranice}") -->
      <xs:element name="hranice_wkt" minOccurs="1" maxOccurs="1" type="amcr:wktType"/> <!-- ST_SRID("{hranice}") | ST_AsText("{hranice}") -->
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ruian_okresType">
    <xs:sequence>
      <xs:element name="kod" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "ruian:{kod}" -->
      <xs:element name="nazev" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{nazev}" -->
      <xs:element name="nazev_en" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{nazev_en}" -->
      <xs:element name="spz" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{spz}" -->
      <xs:element name="kraj" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "ruian:{kraj.kod}" | "{kraj.nazev}" -->
      <xs:element name="definicni_bod_gml" minOccurs="1" maxOccurs="1">
        <xs:complexType>
		      <xs:sequence>
			      <xs:any namespace="http://www.opengis.net/gml/3.2" processContents="skip"/>
		      </xs:sequence>
        </xs:complexType>
      </xs:element> <!-- ST_AsGML("{definicni_bod}") -->
      <xs:element name="definicni_bod_wkt" minOccurs="1" maxOccurs="1" type="amcr:wktType"/> <!-- ST_SRID("{definicni_bod}") | ST_AsText("{definicni_bod}") -->
      <xs:element name="hranice_gml" minOccurs="1" maxOccurs="1">
        <xs:complexType>
		      <xs:sequence>
			      <xs:any namespace="http://www.opengis.net/gml/3.2" processContents="skip"/>
		      </xs:sequence>
        </xs:complexType>
      </xs:element> <!-- ST_AsGML("{hranice}") -->
      <xs:element name="hranice_wkt" minOccurs="1" maxOccurs="1" type="amcr:wktType"/> <!-- ST_SRID("{hranice}") | ST_AsText("{hranice}") -->
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ruian_katastrType">
    <xs:sequence>
      <xs:element name="kod" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "ruian:{kod}" -->
      <xs:element name="nazev" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{nazev}" -->
      <xs:element name="okres" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "ruian:{okres.kod}" | "{okres.nazev}" -->
      <xs:element name="pian" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{pian.ident_cely}" | "{pian.ident_cely}" -->
      <xs:element name="definicni_bod_gml" minOccurs="1" maxOccurs="1">
        <xs:complexType>
		      <xs:sequence>
			      <xs:any namespace="http://www.opengis.net/gml/3.2" processContents="skip"/>
		      </xs:sequence>
        </xs:complexType>
      </xs:element> <!-- ST_AsGML("{definicni_bod}") -->
      <xs:element name="definicni_bod_wkt" minOccurs="1" maxOccurs="1" type="amcr:wktType"/> <!-- ST_SRID("{definicni_bod}") | ST_AsText("{definicni_bod}") -->
      <xs:element name="hranice_gml" minOccurs="1" maxOccurs="1">
        <xs:complexType>
		      <xs:sequence>
			      <xs:any namespace="http://www.opengis.net/gml/3.2" processContents="skip"/>
		      </xs:sequence>
        </xs:complexType>
      </xs:element> <!-- ST_AsGML("{hranice}") -->
      <xs:element name="hranice_wkt" minOccurs="1" maxOccurs="1" type="amcr:wktType"/> <!-- ST_SRID("{hranice}") | ST_AsText("{hranice}") -->
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="organizaceType">
    <xs:sequence>
      <xs:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{ident_cely}" -->
      <xs:element name="nazev" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{nazev}" -->
      <xs:element name="nazev_en" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{nazev_en}" -->
      <xs:element name="nazev_zkraceny" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{nazev_zkraceny}" -->
      <xs:element name="nazev_zkraceny_en" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{nazev_zkraceny_en}" -->
      <xs:element name="typ_organizace" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{typ_organizace.ident_cely}" | "{typ_organizace.heslo}" -->
      <xs:element name="oao" minOccurs="1" maxOccurs="1" type="xs:boolean"/> <!-- "{oao}" -->
      <xs:element name="mesicu_do_zverejneni" minOccurs="1" maxOccurs="1" type="xs:integer"/> <!-- "{mesicu_do_zverejneni}" -->
      <xs:element name="zverejneni_pristupnost" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{zverejneni_pristupnost.ident_cely}" | "{zverejneni_pristupnost.heslo}" -->
      <xs:element name="email" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{email}" -->
      <xs:element name="telefon" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{telefon}" -->
      <xs:element name="adresa" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{adresa}" -->
      <xs:element name="ico" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{ico}" -->
      <xs:element name="soucast" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{soucast.ident_cely}" | "{soucast.nazev}" -->
      <xs:element name="zanikla" minOccurs="1" maxOccurs="1" type="xs:boolean"/> <!-- "{zanikla}" -->
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="osobaType">
    <xs:sequence>
      <xs:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{ident_cely}" -->
      <xs:element name="jmeno" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{jmeno}" -->
      <xs:element name="prijmeni" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{prijmeni}" -->
      <xs:element name="vypis" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{vypis}" -->
      <xs:element name="vypis_cely" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{vypis_cely}" -->
      <xs:element name="rok_narozeni" minOccurs="0" maxOccurs="1" type="xs:integer"/> <!-- "{rok_narozeni}" -->
      <xs:element name="rok_umrti" minOccurs="0" maxOccurs="1" type="xs:integer"/> <!-- "{rok_umrti}" -->
      <xs:element name="rodne_prijmeni" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{rodne_prijmeni}" -->
    </xs:sequence>
  </xs:complexType>
 
  <!-- generic-clasess -->
  <xs:complexType name="historieType">
   	<xs:sequence>      	
   	  <xs:element name="id" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "hist:{id}" -->
   	  <xs:element name="datum_zmeny" minOccurs="1" maxOccurs="1" type="xs:dateTime"/> <!-- "{datum_zmeny}" -->
   	  <xs:element name="uzivatel" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{uzivatel.ident_cely}" | "{uzivatel.ident_cely}" -->
   	  <xs:element name="poznamka" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{poznamka}" -->
   	  <xs:element name="typ_zmeny" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{typ_zmeny}" -->
   	</xs:sequence>     
  </xs:complexType>
  <xs:complexType name="souborType">
   	<xs:sequence>      	
   	  <xs:element name="id" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "soub:{id}" -->
      <xs:element name="path" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{path}" -->
   	  <xs:element name="nazev" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{nazev}" -->
   	  <xs:element name="mimetype" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{mimetype}" -->
   	  <xs:element name="rozsah" minOccurs="0" maxOccurs="1" type="xs:integer"/> <!-- "{rozsah}" -->
   	  <xs:element name="size_mb" minOccurs="1" maxOccurs="1" type="xs:decimal"/> <!-- "{size_mb}" -->
      <xs:element name="sha_512" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{sha_512}" -->
   	  <xs:element name="historie" minOccurs="0" maxOccurs="unbounded" type="amcr:historieType"/> <!-- historie.Historie -->
   	</xs:sequence>     
  </xs:complexType>
  <xs:complexType name="komponentaType">
   	<xs:sequence>      	
   	  <xs:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "{ident_cely}" -->
   	  <xs:element name="obdobi" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{obdobi.ident_cely}" | "{obdobi.heslo}" -->
   	  <xs:element name="jistota" minOccurs="0" maxOccurs="1" type="xs:boolean"/> <!-- "{jistota}" -->
   	  <xs:element name="presna_datace" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{presna_datace}" -->
   	  <xs:element name="areal" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{areal.ident_cely}" | "{areal.heslo}" -->
   	  <xs:element name="aktivita" minOccurs="0" maxOccurs="unbounded" type="amcr:refType"/> <!-- "{aktivity.ident_cely}" | "{aktivity.heslo}" -->
   	  <xs:element name="poznamka" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{poznamka}" -->
   	  <xs:element name="nalez_objekt" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
   	      <xs:sequence>      	
   	        <xs:element name="id" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "nalo:{NalezObjekt.id}" -->
   	        <xs:element name="druh" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{NalezObjekt.druh.ident_cely}" | "{NalezObjekt.druh.heslo}" -->
   	        <xs:element name="specifikace" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{NalezObjekt.specifikace.ident_cely}" | "{NalezObjekt.specifikace.heslo}" -->
   	        <xs:element name="pocet" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{NalezObjekt.pocet}" -->
   	        <xs:element name="poznamka" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{NalezObjekt.poznamka}" -->
   	      </xs:sequence>     
        </xs:complexType>
      </xs:element>
   	  <xs:element name="nalez_predmet" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
   	      <xs:sequence>      	
   	        <xs:element name="id" minOccurs="1" maxOccurs="1" type="xs:string"/> <!-- "nalp:{NalezPredmet.id}" -->
   	        <xs:element name="druh" minOccurs="1" maxOccurs="1" type="amcr:refType"/> <!-- "{NalezPredmet.druh.ident_cely}" | "{NalezPredmet.druh.heslo}" -->
   	        <xs:element name="specifikace" minOccurs="0" maxOccurs="1" type="amcr:refType"/> <!-- "{NalezPredmet.specifikace.ident_cely}" | "{NalezPredmet.specifikace.heslo}" -->
   	        <xs:element name="pocet" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{NalezPredmet.pocet}" -->
   	        <xs:element name="poznamka" minOccurs="0" maxOccurs="1" type="xs:string"/> <!-- "{NalezPredmet.poznamka}" -->
   	      </xs:sequence>     
        </xs:complexType>
      </xs:element>
   	</xs:sequence>     
  </xs:complexType>

  <!-- generic-types -->
  <xs:complexType name="refType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="id" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="autorType">
    <xs:simpleContent>
      <xs:extension base="amcr:refType">
        <xs:attribute name="poradi" type="xs:integer" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="wktType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="EPSG" type="xs:integer" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>