webclient/xml_generator/definitions/oai_amcr_v1-2_v2-0_changelog.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- This is an annotated version of the AMCR XML schema to highlight changes (v1.2 -> v2.0) in the the structure of the schema used by the AMCR OAI-PMH API. -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:oai_amcr="https://api.aiscr.cz/schema/oai_amcr" targetNamespace="https://api.aiscr.cz/schema/oai_amcr" elementFormDefault="unqualified" version="1.2">

<!-- elementFormDefault was changed to "qualified" so every element in metadata part of the OAI-PMH response is now prefixed with namespace; the namespace "oai_amcr" was shortened to "amcr" as well as XSD filename -->

  <xsd:annotation>
    <xsd:documentation>XML Schema for native export of the AMCR database (version 1.2). Related API: https://api.aiscr.cz/</xsd:documentation>
  </xsd:annotation>

  <xsd:element name="amcr">
    <xsd:complexType>
      <xsd:choice>
        <xsd:element name="projekt" type="oai_amcr:ProjectType"/>
        <xsd:element name="akce" type="oai_amcr:EventType"/> <!-- merged into archeologicky_zaznam -->
        <xsd:element name="lokalita" type="oai_amcr:SiteType"/> <!-- merged into archeologicky_zaznam -->
        <xsd:element name="let" type="oai_amcr:FlightType"/>
        <xsd:element name="dok_jednotka" type="oai_amcr:DocumentationUnitType"/> <!-- merged into archeologicky_zaznam/dokumentacni_jednotka -->
        <xsd:element name="dokument" type="oai_amcr:DocumentType"/>
        <xsd:element name="soubor" type="oai_amcr:FileType"/> <!-- merged into specific parrent data class - projekt/dokument/samostatny_nalez -->
        <xsd:element name="ext_zdroj" type="oai_amcr:ExternalSourceType"/>
        <xsd:element name="pian" type="oai_amcr:PianType"/>
        <xsd:element name="adb" type="oai_amcr:AdbType"/>
        <xsd:element name="samostatny_nalez" type="oai_amcr:IndividualFindType"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>

<!-- All elements refering to other records provided by the AMCR API now contain an "id" attribute with the string value which can be used to harvest the referred record. To get the full OAI-PMH record identifier, the id string have to be merged with a prefix. The structure of the prefix is [AMCR API base URL]/id/[id string] (e.g.: https://api.aiscr.cz/id/C-TX-202300073). However, some records may not be accessible to all users. The reference is available not only for child and parent records, but now also for all vocabulary terms (i.e. types, cadastres, persons, users, organisations, etc.). It is advised to store the id string alongside the label as it is guaranteed to be persistent and the label itself may be subject to updates. -->

  <xsd:complexType name="ProjectType">
    <xsd:sequence>
      <xsd:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="stav" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
      <xsd:element name="typ_projektu" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="datetime_born" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to projekt/historie/datum_zmeny; where represented by records with typ_zmeny="PX0" -->
      <xsd:element name="okres" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="katastr" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to projekt/chranene_udaje/hlavni_katastr -->
      <xsd:element name="dalsi_katastry" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to projekt/chranene_udaje/dalsi_katastr; each item is now listed as separate element, without using multivalues with ";" delimiter -->
      <xsd:element name="podnet" minOccurs="0" maxOccurs="1" type="xsd:string"/> 
      <xsd:element name="lokalita" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to projekt/chranene_udaje/lokalizace -->
      <xsd:element name="parcelni_cislo" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to projekt/chranene_udaje/parcelni_cislo -->
      <xsd:element name="planovane_zahajeni" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- values standardised as daterange type -->
      <xsd:element name="objednatel" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to projekt/oznamovatel/oznamovatel -->
      <xsd:element name="odpovedna_osoba" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to projekt/oznamovatel/odpovedna_osoba -->
      <xsd:element name="adresa" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to projekt/oznamovatel/adresa -->
      <xsd:element name="telefon" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to projekt/oznamovatel/telefon -->
      <xsd:element name="email" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to projekt/oznamovatel/email -->
      <xsd:element name="vedouci_projektu" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="organizace_zapisu" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived from projekt/historie/uzivatel -->
      <xsd:element name="organizace_prihlaseni" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- renamed to projekt/organizace -->
      <xsd:element name="uzivatelske_oznaceni" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="kulturni_pamatka" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="nkp_cislo" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to projekt/chranene_udaje/kulturni_pamatka_cislo -->
      <xsd:element name="nkp_popis" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to projekt/chranene_udaje/kulturni_pamatka_popis -->
      <xsd:element name="datum_zahajeni" minOccurs="0" maxOccurs="1" type="xsd:date"/>
      <xsd:element name="datum_ukonceni" minOccurs="0" maxOccurs="1" type="xsd:date"/>
      <xsd:element name="datum_zapisu" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to projekt/historie/datum_zmeny; represented by records with typ_zmeny="P01" or typ_zmeny="PX1" -->
      <xsd:element name="odpovedny_pracovnik_zapisu" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to projekt/historie/uzivatel; represented by records with typ_zmeny="P01" or typ_zmeny="PX1" -->
      <xsd:element name="datum_prihlaseni" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to projekt/historie/datum_zmeny; represented by records with typ_zmeny="P12" -->
      <xsd:element name="odpovedny_pracovnik_prihlaseni" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to projekt/historie/uzivatel; represented by records with typ_zmeny="P12" -->
      <xsd:element name="datum_zapisu_zahajeni" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to projekt/historie/datum_zmeny; represented by records with typ_zmeny="P23" -->
      <xsd:element name="odpovedny_pracovnik_zahajeni" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to projekt/historie/uzivatel; represented by records with typ_zmeny="P23" -->
      <xsd:element name="datum_zapisu_ukonceni" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to projekt/historie/datum_zmeny; represented by records with typ_zmeny="P34" -->
      <xsd:element name="odpovedny_pracovnik_ukonceni" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to projekt/historie/uzivatel; represented by records with typ_zmeny="P34" -->
      <xsd:element name="datum_navrhu_archivace" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to projekt/historie/datum_zmeny; represented by records with typ_zmeny="P45" -->
      <xsd:element name="odpovedny_pracovnik_navrhu_archivace" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to projekt/historie/uzivatel; represented by records with typ_zmeny="P45" -->
      <xsd:element name="datum_archivace" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to projekt/historie/datum_zmeny; represented by records with typ_zmeny="P56" -->
      <xsd:element name="odpovedny_pracovnik_archivace" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to projekt/historie/uzivatel; represented by records with typ_zmeny="P56" -->      
      <xsd:element name="datum_navrzeni_zruseni" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to projekt/historie/datum_zmeny; represented by records with typ_zmeny="P*7" -->
      <xsd:element name="odpovedny_pracovnik_navrhu_zruseni" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to projekt/historie/uzivatel; represented by records with typ_zmeny="P*7" -->
      <xsd:element name="datum_zruseni" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to projekt/historie/datum_zmeny; represented by records with typ_zmeny="P78" -->
      <xsd:element name="odpovedny_pracovnik_zruseni" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to projekt/historie/uzivatel; represented by records with typ_zmeny="P78" -->
      <xsd:element name="duvod_navrzeni_zruseni" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to projekt/historie/poznamka; represented by records with typ_zmeny="P78" -->
      <xsd:element name="termin_odevzdani_nz" minOccurs="0" maxOccurs="1" type="xsd:date"/>            
      <xsd:element name="geometry_e" minOccurs="0" maxOccurs="1" type="xsd:float"/> <!-- merged into projekt/chranene_udaje/geom_gml and projekt/chranene_udaje/geom_wkt -->
      <xsd:element name="geometry_n" minOccurs="0" maxOccurs="1" type="xsd:float"/> <!-- merged into projekt/chranene_udaje/geom_gml and projekt/chranene_udaje/geom_wkt -->
      <xsd:element name="child_akce" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/> <!-- renamed to projekt/archeologicky_zaznam -->
      <xsd:element name="child_samostatny_nalez" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/> <!-- renamed to projekt/samostatny_nalez -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="EventType">
    <xsd:sequence>
      <xsd:element name="vazba_projekt_akce" minOccurs="0" maxOccurs="1"> <!-- removed -->
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id_projekt" minOccurs="1" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/akce/projekt -->
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/ident_cely -->
      <xsd:element name="typ" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/akce/typ -->
      <xsd:element name="stav" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- moved to archeologicky_zaznam/stav; original range of 9 possible states reduced to 3: "1" (recorded; 0+1+3+7), "2" (submitted; 2+6); "3" (archived; 4+5+8) -->
      <xsd:element name="je_nz" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- moved to archeologicky_zaznam/akce/je_nz -->
      <xsd:element name="okres" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/okres -->
      <xsd:element name="katastr" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/chranene_udaje/hlavni_katastr -->
      <xsd:element name="dalsi_katastry" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/chranene_udaje/dalsi_katastr; each item is now listed as separate element, without using multivalues with ";" delimiter -->
      <xsd:element name="vedouci_akce" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/akce/hlavni_vedouci -->
      <xsd:element name="organizace" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/akce/organizace -->
      <xsd:element name="vedouci_akce_ostatni" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/akce/vedouci_akce_ostatni/vedouci; each item is now listed as separate element, without using multivalues with ";" delimiter -->
      <xsd:element name="organizace_ostatni" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/akce/vedouci_akce_ostatni/organizace; each item is now listed as separate element, without using multivalues with ";" delimiter -->
      <xsd:element name="uzivatelske_oznaceni" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/chranene_udaje/uzivatelske_oznaceni -->
      <xsd:element name="specifikace_data" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/akce/specifikace_data; possible values reduced to "přesně", "přesně v letech" and "někdy v letech" -->
      <xsd:element name="datum_zahajeni" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/akce/datum_zahajeni -->
      <xsd:element name="datum_zahajeni_v" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- removed -->
      <xsd:element name="datum_ukonceni" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/akce/datum_ukonceni -->
      <xsd:element name="datum_ukonceni_v" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- removed -->
      <xsd:element name="hlavni_typ" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/akce/hlavni_typ -->
      <xsd:element name="vedlejsi_typ" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/akce/vedlejsi_typ -->
      <xsd:element name="lokalizace" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/akce/chranene_udaje/lokalizace_okolnosti -->
      <xsd:element name="poznamka" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/akce/chranene_udaje/souhrn_upresneni -->
      <xsd:element name="ulozeni_nalezu" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/akce/ulozeni_nalezu -->
      <xsd:element name="pristupnost" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/pristupnost -->
      <xsd:element name="datum_zapisu" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to archeologicky_zaznam/historie/datum_zmeny; represented by records with typ_zmeny="AZ01" -->
      <xsd:element name="odpovedny_pracovnik_zapisu" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/historie/uzivatel; represented by records with typ_zmeny="AZ01" -->
      <xsd:element name="datum_autorizace" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to archeologicky_zaznam/historie/datum_zmeny; represented by records with typ_zmeny="AZ12" -->
      <xsd:element name="odpovedny_pracovnik_autorizace" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/historie/uzivatel; represented by records with typ_zmeny="AZ12" -->
      <xsd:element name="datum_archivace_zaa" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to archeologicky_zaznam/historie/datum_zmeny; represented by records with typ_zmeny="AZ23" -->
      <xsd:element name="odpovedny_pracovnik_archivace_zaa" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/historie/uzivatel; represented by records with typ_zmeny="AZ23" -->
      <xsd:element name="datum_odlozeni_nz" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to archeologicky_zaznam/historie/datum_zmeny; represented by records with typ_zmeny="AZ23" -->
      <xsd:element name="odpovedny_pracovnik_odlozeni_nz" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/historie/uzivatel; represented by records with typ_zmeny="AZ23" -->
      <xsd:element name="datum_vraceni_zaa" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to archeologicky_zaznam/historie/datum_zmeny; represented by records with typ_zmeny="AZ-1" -->
      <xsd:element name="odpovedny_pracovnik_vraceni_zaa" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/historie/uzivatel; represented by records with typ_zmeny="AZ-1" -->
      <xsd:element name="datum_podani_nz" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to archeologicky_zaznam/historie/datum_zmeny; represented by records with typ_zmeny="AZ12" -->
      <xsd:element name="odpovedny_pracovnik_podani_nz" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/historie/uzivatel; represented by records with typ_zmeny="AZ12" -->
      <xsd:element name="datum_archivace" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to archeologicky_zaznam/historie/datum_zmeny; represented by records with typ_zmeny="AZ23" -->
      <xsd:element name="odpovedny_pracovnik_archivace" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/historie/uzivatel; represented by records with typ_zmeny="AZ23" -->
      <xsd:element name="datum_zamitnuti" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to archeologicky_zaznam/historie/datum_zmeny; represented by records with typ_zmeny="AZ-1" -->
      <xsd:element name="odpovedny_pracovnik_zamitnuti" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/historie/uzivatel; represented by records with typ_zmeny="AZ-1" -->
      <xsd:element name="child_dok_jednotka" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/> <!-- removed; now directly present in the current record hierarchy -->
      <xsd:element name="child_dokument" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/> <!-- moved to archeologicky_zaznam/dokument -->
      <xsd:element name="child_ext_zdroj" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/> <!-- moved to archeologicky_zaznam/ext_odkaz/ext_zdroj -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SiteType">
    <xsd:sequence>
      <xsd:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/ident_cely -->
      <xsd:element name="stav" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- moved to archeologicky_zaznam/stav -->
      <xsd:element name="okres" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/okres -->
      <xsd:element name="katastr" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/chranene_udaje/hlavni_katastr -->
      <xsd:element name="dalsi_katastry" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/chranene_udaje/dalsi_katastr; each item is now listed as separate element, without using multivalues with ";" delimiter -->
      <xsd:element name="typ_lokality" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/lokalita/typ_lokality -->
      <xsd:element name="druh" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/lokalita/druh -->
      <xsd:element name="nazev" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/lokalita/chranene_udaje/nazev -->
      <xsd:element name="popis" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/lokalita/chranene_udaje/popis -->
      <xsd:element name="poznamka" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/lokalita/chranene_udaje/poznamka -->
      <xsd:element name="uzivatelske_oznaceni" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/chranene_udaje/uzivatelske_oznaceni -->
      <xsd:element name="pristupnost" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/pristupnost -->
      <xsd:element name="datum_zapisu" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to archeologicky_zaznam/historie/datum_zmeny; represented by records with typ_zmeny="AZ01" -->
      <xsd:element name="odpovedny_pracovnik_zapisu" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/historie/uzivatel; represented by records with typ_zmeny="AZ01" -->
      <xsd:element name="datum_archivace" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to archeologicky_zaznam/historie/datum_zmeny; represented by records with typ_zmeny="AZ23" -->
      <xsd:element name="odpovedny_pracovnik_archivace" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/historie/uzivatel; represented by records with typ_zmeny="AZ23" -->
      <xsd:element name="child_dok_jednotka" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/> <!-- removed; now directly present in the current record hierarchy -->
      <xsd:element name="child_dokument" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/> <!-- moved to archeologicky_zaznam/dokument -->
      <xsd:element name="child_ext_zdroj" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/> <!-- moved to archeologicky_zaznam/ext_odkaz/ext_zdroj -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="FlightType">
    <xsd:sequence>
      <xsd:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="datum" minOccurs="0" maxOccurs="1" type="xsd:date"/>
      <xsd:element name="hodina_zacatek" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="hodina_konec" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="pozorovatel" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="organizace" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="fotoaparat" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="pilot" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="typ_letounu" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="ucel_letu" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="letiste_start" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="letiste_cil" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="pocasi" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="dohlednost" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="uzivatelske_oznaceni" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="child_dokument" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DocumentationUnitType">
    <xsd:sequence>
      <xsd:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/dokumentacni_jednotka/ident_cely -->
      <xsd:element name="parent_akce" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived directly from the XML hierarchy -->
      <xsd:element name="parent_lokalita" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived directly from the XML hierarchy -->
      <xsd:element name="akce_stav" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- removed; can be derived directly from the XML hierarchy -->
      <xsd:element name="lokalita_stav" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- removed; can be derived directly from the XML hierarchy -->
      <xsd:element name="pristupnost" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived directly from the XML hierarchy -->
      <xsd:element name="datum" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- removed; can be derived directly from the XML hierarchy -->
      <xsd:element name="pian" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/dokumentacni_jednotka/pian -->
      <xsd:element name="typ" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/dokumentacni_jednotka/typ -->
      <xsd:element name="negativni_jednotka" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/dokumentacni_jednotka/negativni_jednotka -->
      <xsd:element name="nazev" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/dokumentacni_jednotka/ident_cely -->
      <xsd:element name="child_adb" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/dokumentacni_jednotka/adb -->
      <xsd:element name="komponenta" minOccurs="0" maxOccurs="unbounded" type="oai_amcr:ComponentType"/> <!-- moved to archeologicky_zaznam/dokumentacni_jednotka/komponenta -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ComponentType">
    <xsd:sequence>
      <xsd:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/dokumentacni_jednotka/komponenta/ident_cely -->
      <xsd:element name="parent" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived directly from the XML hierarchy -->
      <xsd:element name="obdobi" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/dokumentacni_jednotka/komponenta/obdobi -->
      <xsd:element name="jistota" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/dokumentacni_jednotka/komponenta/jistota -->
      <xsd:element name="presna_datace" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/dokumentacni_jednotka/komponenta/presna_datace -->
      <xsd:element name="areal" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/dokumentacni_jednotka/komponenta/areal -->
      <xsd:element name="aktivita_sidlistni" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- merged into archeologicky_zaznam/dokumentacni_jednotka/komponenta/aktivita; changed from boolean to string with reference to vocabulary term -->
      <xsd:element name="aktivita_pohrebni" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- merged into archeologicky_zaznam/dokumentacni_jednotka/komponenta/aktivita; changed from boolean to string with reference to vocabulary term -->
      <xsd:element name="aktivita_vyrobni" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- merged into archeologicky_zaznam/dokumentacni_jednotka/komponenta/aktivita; changed from boolean to string with reference to vocabulary term -->
      <xsd:element name="aktivita_tezebni" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- merged into archeologicky_zaznam/dokumentacni_jednotka/komponenta/aktivita; changed from boolean to string with reference to vocabulary term -->
      <xsd:element name="aktivita_kultovni" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- merged into archeologicky_zaznam/dokumentacni_jednotka/komponenta/aktivita; changed from boolean to string with reference to vocabulary term -->
      <xsd:element name="aktivita_komunikace" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- merged into archeologicky_zaznam/dokumentacni_jednotka/komponenta/aktivita; changed from boolean to string with reference to vocabulary term -->
      <xsd:element name="aktivita_deponovani" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- merged into archeologicky_zaznam/dokumentacni_jednotka/komponenta/aktivita; changed from boolean to string with reference to vocabulary term -->
      <xsd:element name="aktivita_intruze" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- merged into archeologicky_zaznam/dokumentacni_jednotka/komponenta/aktivita; changed from boolean to string with reference to vocabulary term -->
      <xsd:element name="aktivita_boj" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- merged into archeologicky_zaznam/dokumentacni_jednotka/komponenta/aktivita; changed from boolean to string with reference to vocabulary term -->
      <xsd:element name="aktivita_jina" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- merged into archeologicky_zaznam/dokumentacni_jednotka/komponenta/aktivita; changed from boolean to string with reference to vocabulary term -->
      <xsd:element name="poznamka" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/dokumentacni_jednotka/komponenta/poznamka -->
      <xsd:element name="nalez" minOccurs="0" maxOccurs="unbounded" type="oai_amcr:FindType"/> <!-- divided to archeologicky_zaznam/dokumentacni_jednotka/komponenta/nalez_objekt and archeologicky_zaznam/dokumentacni_jednotka/komponenta/nalez_predmet -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="FindType">
    <xsd:sequence>
      <xsd:element name="pom_id" minOccurs="1" maxOccurs="1" type="xsd:integer"/> <!-- moved to archeologicky_zaznam/dokumentacni_jednotka/komponenta/[nalez_objekt | nalez_predmet]/id -->
      <xsd:element name="komponenta" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived directly from the XML hierarchy -->
      <xsd:element name="typ_nalezu" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived directly from the XML hierarchy -->
      <xsd:element name="kategorie" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived from the vocabulary terms hierarchy -->
      <xsd:element name="druh_nalezu" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/dokumentacni_jednotka/komponenta/[nalez_objekt | nalez_predmet]/druh -->
      <xsd:element name="specifikace" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/dokumentacni_jednotka/komponenta/[nalez_objekt | nalez_predmet]/specifikace -->
      <xsd:element name="pocet" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/dokumentacni_jednotka/komponenta/[nalez_objekt | nalez_predmet]/pocet -->
      <xsd:element name="poznamka" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to archeologicky_zaznam/dokumentacni_jednotka/komponenta/[nalez_objekt | nalez_predmet]/poznamka -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AdbType">
    <xsd:sequence>
      <xsd:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="parent" minOccurs="1" maxOccurs="1" type="xsd:string"/> <!-- renamed to adb/dokumentacni_jednotka -->
      <xsd:element name="datum" minOccurs="1" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived directly from the XML hierarchy -->
      <xsd:element name="pristupnost" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- renamed to adb/pristupnost_pom -->
      <xsd:element name="akce_stav" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- renamed to adb/stav_pom -->
      <xsd:element name="typ_sondy" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="uzivatelske_oznaceni_sondy" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to adb/chranene_udaje/uzivatelske_oznaceni_sondy -->
      <xsd:element name="trat" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to adb/chranene_udaje/trat -->
      <xsd:element name="cislo_popisne" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to adb/chranene_udaje/cislo_popisne -->
      <xsd:element name="parcelni_cislo" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to adb/chranene_udaje/parcelni_cislo -->
      <xsd:element name="podnet" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="stratigraficke_jednotky" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="autor_popisu" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="rok_popisu" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="autor_revize" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="rok_revize" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
      <xsd:element name="poznamka" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to adb/chranene_udaje/poznamka -->
      <xsd:element name="vyskovy_bod" minOccurs="0" maxOccurs="unbounded" type="oai_amcr:ElevationPointType"/> <!-- moved to adb/chranene_udaje/vyskovy_bod -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ElevationPointType">
    <xsd:sequence>
      <xsd:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xsd:string"/> <!-- moved to adb/chranene_udaje/vyskovy_bod/ident_cely -->
      <xsd:element name="parent" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived directly from the XML hierarchy -->
      <xsd:element name="typ" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to adb/chranene_udaje/vyskovy_bod/typ -->
      <xsd:element name="niveleta" minOccurs="0" maxOccurs="1" type="xsd:decimal"/> <!-- merged into adb/chranene_udaje/vyskovy_bod/geom_gml and adb/chranene_udaje/vyskovy_bod/geom_wkt -->
      <xsd:element name="easting" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- merged into adb/chranene_udaje/vyskovy_bod/geom_gml and adb/chranene_udaje/vyskovy_bod/geom_wkt -->
      <xsd:element name="northing" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- merged into adb/chranene_udaje/vyskovy_bod/geom_gml and adb/chranene_udaje/vyskovy_bod/geom_wkt -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DocumentType">
    <xsd:sequence>
      <xsd:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="let" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="stav" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
      <xsd:element name="typ_dokumentu" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="material_originalu" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="rada" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="typ_dokumentu_posudek" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- renamed to dokument/posudek; each item is now listed as separate element, without using multivalues with ";" delimiter -->
      <xsd:element name="autor" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- each item is now listed as separate element, without using multivalues with ";" delimiter -->
      <xsd:element name="rok_vzniku" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
      <xsd:element name="organizace" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="pristupnost" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="datum_zverejneni" minOccurs="0" maxOccurs="1" type="xsd:date"/>
      <xsd:element name="jazyk_dokumentu" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="ulozeni_originalu" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="oznaceni_originalu" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="popis" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="poznamka" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="datum_vlozeni" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to dokument/historie/datum_zmeny; represented by records with typ_zmeny="D01" -->
      <xsd:element name="odpovedny_pracovnik_vlozeni" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to dokument/historie/uzivatel; represented by records with typ_zmeny="D01" -->
      <xsd:element name="datum_archivace" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to dokument/historie/datum_zmeny; represented by records with typ_zmeny="D23" -->
      <xsd:element name="odpovedny_pracovnik_archivace" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to dokument/historie/uzivatel; represented by records with typ_zmeny="D23" -->
      <xsd:element name="extra_data" minOccurs="0" maxOccurs="unbounded" type="oai_amcr:ExtraDataType"/>
      <xsd:element name="tvar" minOccurs="0" maxOccurs="unbounded" type="oai_amcr:ShapeType"/>
      <xsd:element name="jednotka_dokumentu" minOccurs="0" maxOccurs="unbounded" type="oai_amcr:DocumentUnitType"/> <!-- renamed to dokument/dokument_cast -->
      <xsd:element name="child_soubor" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/> <!-- changed to dokument/soubor with full hierearchy -->
      <xsd:element name="odkaz" minOccurs="0" maxOccurs="unbounded"> <!-- removed -->
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="vazba_akce" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed -->
            <xsd:element name="vazba_lokalita" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed -->
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ExtraDataType">
    <xsd:sequence>
      <xsd:element name="cislo_objektu" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
      <xsd:element name="format" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="meritko" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="vyska" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="sirka" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="zachovalost" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="nahrada" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
      <xsd:element name="pocet_variant_originalu" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
      <xsd:element name="index" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed -->
      <xsd:element name="odkaz" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="datum_vzniku" minOccurs="0" maxOccurs="1" type="xsd:date"/>
      <xsd:element name="pas" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived from dokument/extra_data/geom_gml or dokument/extra_data/geom_wkt -->
      <xsd:element name="easting" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- removed; can be derived from dokument/extra_data/geom_gml or dokument/extra_data/geom_wkt -->
      <xsd:element name="northing" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- removed; can be derived from dokument/extra_data/geom_gml or dokument/extra_data/geom_wkt -->
      <xsd:element name="udalost_typ" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="udalost" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="zeme" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="region" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="rok_od" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
      <xsd:element name="rok_do" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
      <xsd:element name="osoby" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to dokument/osoba; each item is now listed as separate element, without using multivalues with ";" delimiter -->
      <xsd:element name="duveryhodnost" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
      <xsd:element name="geom_gml" minOccurs="0" maxOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any namespace="http://www.opengis.net/gml/3.2" processContents="skip"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ShapeType">
    <xsd:sequence>
      <xsd:element name="pom_id" minOccurs="1" maxOccurs="1" type="xsd:integer"/> <!-- renamed to dokument/tvar/id -->
      <xsd:element name="dokument" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived directly from the XML hierarchy -->
      <xsd:element name="tvar" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="poznamka" minOccurs="0" maxOccurs="1" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DocumentUnitType">
    <xsd:sequence>
      <xsd:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xsd:string"/> <!-- renamed to dokument/dokument_cast/ident_cely -->
      <xsd:element name="dokument" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived directly from the XML hierarchy -->
      <xsd:element name="vazba_akce" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- merged into dokument/dokument_cast/archeologicky_zaznam -->
      <xsd:element name="vazba_lokalita" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- merged into dokument/dokument_cast/archeologicky_zaznam -->
      <xsd:element name="vazba_druha_akce" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- merged into dokument/dokument_cast/archeologicky_zaznam -->
      <xsd:element name="vazba_druha_lokalita" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- merged into dokument/dokument_cast/archeologicky_zaznam -->
      <xsd:element name="poznamka" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- renamed to dokument/dokument_cast/poznamka -->
      <xsd:element name="komponenta_dokument" minOccurs="0" maxOccurs="unbounded" type="oai_amcr:DocumentComponentType"/> <!-- renamed to dokument/dokument_cast/komponenta -->
      <xsd:element name="neident_akce" minOccurs="0" maxOccurs="unbounded" type="oai_amcr:UnidentifiedEventType"/> <!-- renamed to dokument/dokument_cast/neident_akce -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DocumentComponentType">
    <xsd:sequence>
      <xsd:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xsd:string"/> <!-- renamed to dokument/dokument_cast/komponenta/ident_cely -->
      <xsd:element name="parent" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="obdobi" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- renamed to dokument/dokument_cast/komponenta/ident_cely -->
      <xsd:element name="jistota" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- renamed to dokument/dokument_cast/komponenta/ident_cely -->
      <xsd:element name="presna_datace" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- renamed to dokument/dokument_cast/komponenta/ident_cely -->
      <xsd:element name="areal" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- renamed to okument/dokument_cast/komponenta/ident_cely -->
      <xsd:element name="aktivita_sidlistni" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- merged into dokument/dokument_cast/komponenta/aktivita; changed from boolean to string with reference to vocabulary term -->
      <xsd:element name="aktivita_pohrebni" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- merged into dokument/dokument_cast/komponenta/aktivita; changed from boolean to string with reference to vocabulary term -->
      <xsd:element name="aktivita_vyrobni" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- merged into dokument/dokument_cast/komponenta/aktivita; changed from boolean to string with reference to vocabulary term -->
      <xsd:element name="aktivita_tezebni" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- merged into dokument/dokument_cast/komponenta/aktivita; changed from boolean to string with reference to vocabulary term -->
      <xsd:element name="aktivita_kultovni" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- merged into dokument/dokument_cast/komponenta/aktivita; changed from boolean to string with reference to vocabulary term -->
      <xsd:element name="aktivita_komunikace" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- merged into dokument/dokument_cast/komponenta/aktivita; changed from boolean to string with reference to vocabulary term -->
      <xsd:element name="aktivita_deponovani" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- merged into dokument/dokument_cast/komponenta/aktivita; changed from boolean to string with reference to vocabulary term -->
      <xsd:element name="aktivita_intruze" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- merged into dokument/dokument_cast/komponenta/aktivita; changed from boolean to string with reference to vocabulary term -->
      <xsd:element name="aktivita_boj" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- merged into dokument/dokument_cast/komponenta/aktivita; changed from boolean to string with reference to vocabulary term -->
      <xsd:element name="aktivita_jina" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- merged into dokument/dokument_cast/komponenta/aktivita; changed from boolean to string with reference to vocabulary term -->
      <xsd:element name="poznamka" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- renamed to dokument/dokument_cast/komponenta/poznamka -->
      <xsd:element name="nalez_dokumentu" minOccurs="0" maxOccurs="unbounded" type="oai_amcr:DocumentFindType"/> <!-- divided to dokument/dokument_cast/komponenta/nalez_objekt and dokument/dokument_cast/komponenta/nalez_predmet -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DocumentFindType">
    <xsd:sequence>
      <xsd:element name="pom_id" minOccurs="1" maxOccurs="1" type="xsd:integer"/> <!-- moved to dokument/dokument_cast/komponenta/[nalez_objekt | nalez_predmet]/id -->
      <xsd:element name="komponenta_dokument" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived directly from the XML hierarchy -->
      <xsd:element name="typ_nalezu" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived directly from the XML hierarchy -->
      <xsd:element name="kategorie" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived from the vocabulary terms hierarchy -->
      <xsd:element name="druh_nalezu" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to dokument/dokument_cast/komponenta/[nalez_objekt | nalez_predmet]/druh -->
      <xsd:element name="specifikace" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to dokument/dokument_cast/komponenta/[nalez_objekt | nalez_predmet]/specifikace -->
      <xsd:element name="pocet" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- moved to dokument/dokument_cast/komponenta/[nalez_objekt | nalez_predmet]/pocet -->
      <xsd:element name="poznamka" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to dokument/dokument_cast/komponenta/[nalez_objekt | nalez_predmet]/poznamka -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UnidentifiedEventType">
    <xsd:sequence>
      <xsd:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived directly from the XML hierarchy -->
      <xsd:element name="okres" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="katastr" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="vedouci" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- each item is now listed as separate element, without using multivalues with ";" delimiter -->
      <xsd:element name="rok_zahajeni" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
      <xsd:element name="rok_ukonceni" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
      <xsd:element name="lokalizace" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="popis" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="poznamka" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="pian" minOccurs="0" maxOccurs="1" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="FileType">
    <xsd:sequence>
      <xsd:element name="filepath" minOccurs="1" maxOccurs="1" type="xsd:string"/> <!-- moved to [projekt | dokument | samostatny_nalez]/soubor/nazev; now represented as repository URI -->
      <xsd:element name="dokument" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived directly from the XML hierarchy -->
      <xsd:element name="projekt" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived directly from the XML hierarchy -->
      <xsd:element name="samostatny_nalez" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived directly from the XML hierarchy -->
      <xsd:element name="nazev" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to [projekt | dokument | samostatny_nalez]/soubor/nazev -->
      <xsd:element name="uzivatelske_oznaceni" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to [projekt | dokument | samostatny_nalez]/soubor/historie/poznamka; represented by records with typ_zmeny="SBR0" -->
      <xsd:element name="stav" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- removed; can be derived directly from the XML hierarchy -->
      <xsd:element name="mimetype" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to [projekt | dokument | samostatny_nalez]/soubor/mimetype -->
      <xsd:element name="rozsah" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- moved to [projekt | dokument | samostatny_nalez]/soubor/rozsah -->
      <xsd:element name="size_bytes" minOccurs="0" maxOccurs="1" type="xsd:integer"/> <!-- moved to [projekt | dokument | samostatny_nalez]/soubor/size_mb; changed units from kB to MB -->
      <xsd:element name="vytvoreno" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to [projekt | dokument | samostatny_nalez]/soubor/historie/datum_zmeny; represented by records with typ_zmeny="SBR0" -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ExternalSourceType">
    <xsd:sequence>
      <xsd:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="stav" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
      <xsd:element name="typ" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="sysno" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="autori" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- renamed to ext_zdroj/autor; each item is now listed as separate element, without using multivalues with ";" delimiter -->
      <xsd:element name="nazev" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="podnazev" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- merged into ext_zdroj/nazev -->
      <xsd:element name="edice_rada" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="rok_vydani_vzniku" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
      <xsd:element name="isbn" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="issn" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="vydavatel" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="sbornik_editor" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- renamed to ext_zdroj/editor; each item is now listed as separate element, without using multivalues with ";" delimiter -->
      <xsd:element name="sbornik_nazev" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="misto" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="casopis_denik_nazev" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="casopis_rocnik" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="datum_rd" minOccurs="0" maxOccurs="1" type="xsd:date"/>
      <xsd:element name="paginace_titulu" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="link" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="typ_dokumentu" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="organizace" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="oznaceni" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- merged into ext_zdroj/nazev -->
      <xsd:element name="poznamka" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="datum_vlozeni" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to ext_zdroj/historie/datum_zmeny; represented by records with typ_zmeny="EZ01" -->
      <xsd:element name="odpovedny_pracovnik_vlozeni" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to ext_zdroj/historie/uzivatel; represented by records with typ_zmeny="EZ01" -->
      <xsd:element name="ext_odkaz" minOccurs="0" maxOccurs="unbounded" type="oai_amcr:ExternalReferenceType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ExternalReferenceType">
    <xsd:sequence>
      <xsd:element name="pom_id" minOccurs="1" maxOccurs="1" type="xsd:integer"/> <!-- renamed to ext_zdroj/ext_odkaz/id -->
      <xsd:element name="externi_zdroj" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived directly from the XML hierarchy -->
      <xsd:element name="vazba_akce" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- merged into ext_zdroj/ext_odkaz/archeologicky_zaznam -->
      <xsd:element name="vazba_lokalita" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- merged into ext_zdroj/ext_odkaz/archeologicky_zaznam -->
      <xsd:element name="paginace" minOccurs="0" maxOccurs="1" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PianType">
    <xsd:sequence>
      <xsd:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="typ" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="presnost" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
      <xsd:element name="pristupnost" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- renamed to pian/pristupnost_pom -->
      <xsd:element name="zm10" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to pian/chranene_udaje/zm10 -->
      <xsd:element name="vymezil" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to pian/historie/uzivatel; represented by records with typ_zmeny="PI01" -->
      <xsd:element name="datum_vymezeni" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to pian/historie/datum_zmeny; represented by records with typ_zmeny="PI01" -->
      <xsd:element name="potvrdil" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to pian/historie/uzivatel; represented by records with typ_zmeny="PI12" -->
      <xsd:element name="datum_potvrzeni" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to pian/historie/datum_zmeny; represented by records with typ_zmeny="PI12" -->
      <xsd:element name="geom_gml" minOccurs="0" maxOccurs="1"> <!-- moved to pian/chranene_udaje/geom_gml -->
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any namespace="http://www.opengis.net/gml/3.2" processContents="skip"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="geom_wkt" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to pian/chranene_udaje/geom_wkt -->
      <xsd:element name="centroid_e" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived from pian/chranene_udaje/geom_wkt or pian/chranene_udaje/geom_gml -->
      <xsd:element name="centroid_n" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived from pian/chranene_udaje/geom_wkt or pian/chranene_udaje/geom_gml -->
      <xsd:element name="child_dok_jednotka" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/> <!-- renamed to pian/dokumentacni_jednotka -->
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="IndividualFindType">
    <xsd:sequence>
     <xsd:element name="ident_cely" minOccurs="1" maxOccurs="1" type="xsd:string"/>  
     <xsd:element name="inv_cislo" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- renamed to samostatny_nalez/evidencni_cislo -->
     <xsd:element name="projekt_id" minOccurs="1" maxOccurs="1" type="xsd:string"/> <!-- renamed to samostatny_nalez/projekt -->
     <xsd:element name="okres" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <xsd:element name="katastr" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to samostatny_nalez/chranene_udaje/katastr -->
     <xsd:element name="lokalizace" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to samostatny_nalez/chranene_udaje/lokalizace -->
     <xsd:element name="centroid_e" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived from samostatny_nalez/chranene_udaje/geom_wkt or samostatny_nalez/chranene_udaje/geom_gml -->
     <xsd:element name="centroid_n" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed; can be derived from samostatny_nalez/chranene_udaje/geom_wkt or samostatny_nalez/chranene_udaje/geom_gml -->
     <xsd:element name="geom_gml" minOccurs="0" maxOccurs="1"> <!-- moved to samostatny_nalez/chranene_udaje/geom_gml -->
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any namespace="http://www.opengis.net/gml/3.2" processContents="skip"/>
          </xsd:sequence>
        </xsd:complexType>
     </xsd:element>
     <xsd:element name="hloubka" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
     <xsd:element name="nalezove_okolnosti" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- renamed to samostatny_nalez/okolnosti -->
     <xsd:element name="pristupnost" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <xsd:element name="obdobi" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <xsd:element name="presna_datace" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <xsd:element name="typ" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- removed -->
     <xsd:element name="druh" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- renamed to samostatny_nalez/druh_nalezu -->
     <xsd:element name="specifikace" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <xsd:element name="pocet" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <xsd:element name="poznamka" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <xsd:element name="nalezce" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <xsd:element name="datum_nalezu" minOccurs="0" maxOccurs="1" type="xsd:date"/>
     <xsd:element name="stav" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
     <xsd:element name="predano" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <xsd:element name="predano_organizace" minOccurs="0" maxOccurs="1" type="xsd:string"/>
     <xsd:element name="odpovedny_pracovnik_vlozeni" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to samostatny_nalez/historie/uzivatel; represented by records with typ_zmeny="SN01" -->
     <xsd:element name="datum_vlozeni" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to samostatny_nalez/historie/datum_zmeny; represented by records with typ_zmeny="SN01" -->
     <xsd:element name="odpovedny_pracovnik_archivace" minOccurs="0" maxOccurs="1" type="xsd:string"/> <!-- moved to samostatny_nalez/historie/uzivatel; represented by records with typ_zmeny="SN34" -->
     <xsd:element name="datum_archivace" minOccurs="0" maxOccurs="1" type="xsd:date"/> <!-- moved to samostatny_nalez/historie/datum_zmeny; represented by records with typ_zmeny="SN34" -->
     <xsd:element name="child_soubor" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/> <!-- changed to samostatny_nalez/soubor with full hierearchy -->
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
